// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome {
height: 500px;
width: 500px;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}

#app-form {

  margin-bottom: 50px;
}
